body{
background-color:#ECEAE9;
width:80%;
margin:0px auto 0px auto;
border:2px solid #7C7776;
/*border:3px solid #2ECCFA;*/
}


#header{
background-color:#ffffff;
text-align:center;
}

#slogan{
height:80px;
}

#search{
background:url('search.ico');
width:20px;
height:20px;
}

ul{
text-align:center;
}

#navbar ul li{
display:inline-block;
list-style:none;
background-color:#2C525E;
color:#ffffff;
font-size:20px;
font-family:Arial,Verdana;
padding:8px 17px 8px 17px;
margin-left:10px;
margin-right:10px;
border-radius:10px;
z-index:100;
}

#middle{
margin-top:15px;
margin-bottom:15px;
z-index:-1;
}

#left{
position:relative;
display:inline-block;
background-color:#BDB8B7;
width:18.5%;
height:420px;
float:left;
margin-top:-10px;
margin-left:1%;
margin-right:5%;
border-radius:10px;
}

.leftbar{
position:relative;
width:93%;
margin:5px auto 5px auto;
border-radius:10px;
text-align:center;
}

#calender{
height:300px;

}
#map{
height:200px;

}

#content{
display:inline-block;
background-color:#BDB8B7;
width:50%;
height:400px;
margin:0px auto 5px auto;
border-radius:15px;
}

#right{
display:inline-block;
background-color:#BDB8B7;
width:20%;
height:400px;
float:right;
margin-right:1%;
border-radius:10px;
}

#footer{
background-color:#8B8382;
height:100px;
}

